.App {
  text-align: center; 
}

.App-logo {
  /* height: 40vmin; */
  width: 100%;
  margin-bottom: 5%;
}

.App-header {
  display: flex;
  align-content: center;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.App-circled{
  width: 40%;
  align-content: center;
}
.App-content{
  margin: 5%;
  margin-top: 20%;
  align-content: center;
}
.App-homeIcon{
  width: 30%;
}
.App-footer{
  height:10%px; 
  width: 100%; 
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  position: fixed;
  bottom: 0pt;
  left: 0pt; 
}
